{% extends 'layout.html' %}
{% block title %}{{ game.title }}{% endblock %}
{% block content %}
    <div class="description">
        <h2>{{ game.title }}</h2>
        <img src="{{ game.image_url }}" alt="game image">
        <p><span class="headyThing">Price:</span> ${{ game.price }}</p>
        <p><span class="headyThing">Publisher:</span> {{ game.publisher.publisher_name }}</p>
        <p><span class="headyThing">Release Date:</span> {{ game.release_date }}</p>
        <div class="tags" style="width: calc(800px - 460px);">
            <div class="headyThing">Genres:</div>
            {% for genre in game.genres %}
                <div class="tag"> {{ genre.genre_name }}</div>
            {% endfor %}
        </div>
        <p><span class="headyThing">About:</span> {{ game.description }}</p>
        <div class="tags">
            <div class="headyThing">Platforms:</div>
            {% if game.supports_linux %} <div class="tag">🐧 Linux</div> {% endif %}
            {% if game.supports_windows %} <div class="tag">🪟 Windows</div> {% endif %}
            {% if game.supports_mac %} <div class="tag">🍎 Mac</div> {% endif %}

        </div>
    </div>
{% endblock %}