{% extends 'layout.html' %}
{% block title %}Games{% endblock %}
{% block extraStyles %}
    <link rel="stylesheet" href="../static/css/gameslist.css">
    <link rel="stylesheet" href="../static/css/pagination.css">
{% endblock %}
{% block content %}
    <div class="gamesList">
        {% for game in gamesList %}
            {% include "gamecard.html" %}
        {% endfor %}
        {% if gamesList|length==0 %}
            No Games found at specified page
        {% endif %}
    </div>

    <div class="pagination">
        {% if current_page > 1 %}
            <a href="{{ url_for('library_bp.games', page=current_page-1) }}">Previous</a>
        {% else %}
            <span title="No previous" class="inactive">Previous</span>
        {% endif %}

        <strong>{{ current_page }}</strong>

        {% if current_page < total_pages %}
            <a href="{{ url_for('library_bp.games', page=current_page+1) }}">Next</a>
        {% else %}
            <span title="No next" class="inactive">Next</span>
        {% endif %}
    </div>


{% endblock %}