{% extends 'layout.html' %}
{% block title %}Games{% endblock %}
{% block extraStyles %}
    <link rel="stylesheet" href="../static/css/gameslist.css">
    <link rel="stylesheet" href="../static/css/selector.css">
{% endblock %}
{% block content %}
    <div class="selector">
        <a href="{{ url_for('library_bp.games', sortBy="Newest", page=current_page) }}">Newest</a>
        <a href="{{ url_for('library_bp.games', sortBy="Oldest", page=current_page) }}">Oldest</a>
    </div>
    {% include "pageselector.html" %}

    {% set notFoundMessage = 'No Games found at specified page' %}

    {% include "gamesList.html" %}

    {% include "pageselector.html" %}


{% endblock %}