<!DOCTYPE html>
<html>
    <head>
        <title>Games</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="scrolling">
            {% include "titlebar.html" %}
            <div class="content">
                I am the last of my species, and I know how that weighs on the heart so don't lie to me! Saving the world with meals on wheels. You've swallowed a planet! It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'!

                I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself. I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship.

                The way I see it, every life is a pile of good things and bad things.…hey.…the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant. Aw, you're all Mr. Grumpy Face today.

                All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? I am the Doctor, and you are the Daleks! You hit me with a cricket bat. Sorry, checking all the water in this area; there's an escaped fish.

                I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship. No… It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth…liens!

                I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship. You've swallowed a planet! Did I mention we have comfy chairs? The way I see it, every life is a pile of good things and bad things.…hey.…the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant.

                Aw, you're all Mr. Grumpy Face today. I hate yogurt. It's just stuff with bits in. Sorry, checking all the water in this area; there's an escaped fish. It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'!

            </div>

        </div>
    </body>
</html>