{% extends "layout.html" %}
{% block extraStyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %}

{% block content %}
    <div class="user-profile-intro">
        <h2>{{ session["username"] }}'s Profile:</h2>
    </div>

    <div class="full-profile-container">

    <div class="left-column">
        <div class="user-profile-picture">
            <img src="{{ url_for('static', filename='default-user-icon.svg') }}" alt='userPfp' class="user-pfp">
            <h4>{{ session["username"] }}</h4>
            <div class="date_joined">
                <h4>User Since:</h4>
                <p>{{ user.date_joined }}</p>
            </div>
        </div>
        <div class="about-me">
            <h3>About Me:</h3>
            <div class="spirit-animal">
                <h4>My Spirit Animal: </h4>
                <p>{{ user.spirit_animal }}</p>
            </div>
            <div class="my-country">
                <h4>My Country: </h4>
                <p>New Zealand 🇳🇿</p>
            </div>
            <div class="favourite-genre">
                <h4>Favourite Genre: </h4>
            </div>
            <div class="on-platforms">
                <h4>On Platforms:</h4>
                <div class="profile-tag">🐧 Linux</div>
                <div class="profile-tag">🍎 Mac</div>
                <div class="profile-tag">🪟 Windows</div>
            </div>
        </div>
    </div>


    <div class="profile-reviews">
        <h2>All Your Reviews:</h2>
        <div class="sort-container">
            <label for="sort">Sort by:</label>
            <select id="sort">
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
            </select>
        </div>
        <ul>
            {% for review in reviews %}
                <li>{{ review.game.title }}: "{{ review.comment }}"</li>
            {% endfor %}
        </ul>
    </div>

    <div class="right-column">
        <div class="profile-wishlist">
            <h2>View My Wishlist
                <img src="{{ url_for('static', filename='heart-icon.svg') }}" alt="profileHeart" class="profile-heart">
            </h2>
        </div>
        <div class="profile-logout">
            <h2>Log Out</h2>
        </div>
    </div>

    </div>
{% endblock %}
