* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gamesList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 860px;
    margin: 0 auto;
}

.game{
    width: 400px;
    border-radius: 10px; /* round corners */
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* shadow */
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    transition: transform 0.3s;
    overflow: hidden;
}

.game:hover{
    transform: scale(1.05); /* hover effect */
}

.game figcaption{
    text-align: center;
    font-weight: 600;
    padding: 12px 0;
    font-size: 20px;
    background: dodgerblue;
    color: white; /* white text */
    border-radius: 0 0 10px 10px; /* round  corners */
}

.gameImage{
    width: 100%; /* make image responsive */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gameLink{
    text-decoration: none;
    color: inherit; /* inherit color from parent */
}

