@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

body{
    margin:0;
    font-family: 'Rubik', sans-serif;
}

.titlebar{
    position: relative;
    width: 100%;
    background-color:#75bff5;
    text-align: center;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
}

.titlebar h1 {
    font-weight: 500;
    font-size: 36px;
    margin: 0;
}

.titlebar p {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-left:130px;
}

.titlebar a.titlebar-link {
    font-weight: 500;
    font-size: 36px;
    margin: 0;
    text-decoration: none;
    color: inherit;
    margin-left:130px;
}

.sidebar{
    background-color:dodgerblue;
    position: fixed;
    color:white;
    height: 100%;
    width: 250px;
    padding: 20px 0;
    text-align: center;
}

.sidebar img {
    margin-bottom: 0;
}

.sidebar h2 {
    margin-top: -12px;
}

.sidebar .page{
    display: block;
    background-color: #75bff5;
    color:white;
    margin: 8px;
    border-radius: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.sidebar .page:hover{
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    background-color:white;
    color: dodgerblue;
}


.scrolling{
    margin-left: 250px;
}

.content{
    margin: 20px;
}

.content h2{
    text-align: center;
    font-weight: 500;
}

.bottom{
    position: fixed;
    left: 0;
    bottom: 24px;
    width: calc(250px - 20px);
    padding: 10px;
}

.headyThing{
    color: #2099c2;
    font-weight: 500;
}

.description{
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 10px;
}

.description img{
    float: right;
}

.tag{
    background-color: dodgerblue;
    color: white;
    border-radius: 999px;
    padding: 0.5em;
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
}

.content p{
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
}

.searchPageContent h2{
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 180px;
}

.searchPageContent p{
    text-align: center;
    margin-bottom: -150px;
}

.searchCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.searchbar, .searchbarCentered, .searchbarTop {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid dodgerblue;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    font-family: 'Rubik', sans-serif;
}

.searchTop{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.searchTop .searchbarTop {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid dodgerblue;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    font-family: 'Rubik', sans-serif;
}

.searchbar input[type="text"],
.searchbarCentered input[type="text"],
.searchbarTop input[type="text"] {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    font-family: 'Rubik', sans-serif;
}

.searchbar select,
.searchbarCentered select,
.searchbarTop select {
    border: none;
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    font-family: 'Rubik', sans-serif;
}

.searchbar input[type="submit"],
.searchbarCentered input[type="submit"],
.searchbarTop input[type="submit"] {
    border: none;
    background: dodgerblue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Rubik', sans-serif;
}

.searchbar input[type="submit"]:hover,
.searchbarCentered input[type="submit"]:hover,
.searchbarTop input[type="submit"]:hover {
    background: #1e90ff;
}

.searchbar *,
.searchbarCentered *,
.searchbarTop * {
    border-radius: 10px;
    margin-right: 5px;
    font-family: 'Rubik', sans-serif;
}

.searchbar input[type="text"]:focus,
.searchbarCentered input[type="text"]:focus,
.searchbarTop input[type="text"]:focus {
    border: 1px solid dodgerblue;
    font-family: 'Rubik', sans-serif;
}



.para h2{
    margin-top: 50px;
    text-align:left;
    font-size:36px;
    color:dodgerblue;
}

.para p{
    font-size:18px;
}

.para2 h2{
    text-align:left;
    font-size:36px;
    color:dodgerblue;
}

.para2 p{
    font-size:18px;
    text-align:left;
}

.git h2{
    text-align: left;
    font-size: 36px;
    color:dodgerblue;
}

.git p {
    font-size: 18px;
}


.all-games h1{
    padding-bottom:30px;
    color:dodgerblue;
    text-align:center;
}


/* Styling for the button with the SVG */
.searchButton {
    border: none;
    background: dodgerblue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton img {
    width: 20px;
    height: 20px;
}

/* Hover effect for the button */
.searchButton:hover {
    background: #1e90ff;
}
.user-features {
        display: flex;
        justify-content: space-between; /* This ensures there's space between the two child divs */
    }

.add-to-wishlist, .write-review {

    margin: 0 10px; /* This gives 10px of space to the left and right of each div */
}


.add-to-wishlist {
    color: white;
    padding: 15px 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 30px;
    width: 150px;
    border-radius: 999px;
    background-color: hotpink;
    margin-top: 15px;
    padding-left:3px;
    padding-right:3px;
    padding-top: 10px;
    padding-bottom:10px;
}


.heartIcon{
    width:30px;
    height:20px;
}

.tag:hover{
    transform: scale(1.10);
}

.add-to-wishlist:hover{
    transform: scale(1.10);
}

.write-review {
    color: white;
    padding: 15px 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 30px;
    width: 150px;
    border-radius: 999px;
    background-color: mediumpurple;
    margin-top: 15px;
    padding-left:3px;
    padding-right:3px;
    padding-top: 10px;
    padding-bottom:10px;
}

.reviewIcon{
    width:30px;
    height:20px;
}

.write-review:hover{
    transform: scale(1.10);
}

.checked {
  color: orange;
}
.intro p{
    text-align: center;
}

.my-profile-button{
    float:right;
    margin-right: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-profile-button img{
    width:35px;
    height:35px;
}


.username-button {
    background-color: #007BFF;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
    margin-top: 5px;
    position: relative;
    cursor: pointer;
}


.username-button:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    margin-right:30px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.login-button{
    float:right;
    margin-right: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10px;
    border: none;
    background: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Rubik', sans-serif;
}
.login-button:hover{
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    background-color:white;
    color: #007BFF;
}

