{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block extraStyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}
{% block content %}
<div class="auth-dialog">
    <h1>{{ title }}</h1>
    <form method="post" action="{{ handler_url }}">
        {{ form.csrf_token }}
        <div class="auth-field">{
            { form.username.label }} {{ form.username }}
            {% if form.username.errors is not none %}
                <ul>
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="auth-field">
            {{ form.password.label }} {{ form.password }}
            {% if form.password.errors or auth_error_message is not none %}
                <ul>
                    {% if auth_error_message is not none %}
                        <li>{{ auth_error_message }}</li>
                    {% endif %}
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>
        {{ form.submit }}
    </form>
</div>
{% endblock %}
