{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block extraStyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}
{% block content %}
<div class="auth-dialog">
    <h1>{{ title }}</h1>
    <form method="post" action="{{ handler_url }}">
        {{ form.csrf_token }}
        <div class="auth-field">{{ form.username.label }} {{ form.username }}</div>
        <div class="auth-field">{{ form.password.label }} {{ form.password }}</div>
        {{ form.submit }}
    </form>
</div>
{% endblock %}
